/* vaadin-button.press.unpressed {
	color:var(--lumo-contrast-30pct);
}

vaadin-button.press.unpressed:hover {
	color:var(--lumo-primary-color);
}

vaadin-button.press.pressed {
	color:var(--lumo-primary-color);
} */

vaadin-button.press {
	font-weight:600;
}

vaadin-button.press.pressed[theme="primary"] {
	min-width:calc(var(--lumo-button-size) * 2);
}