vaadin-button[theme~=press] {
	font-weight:600;
}


vaadin-button.pressed[theme~="primary"][theme~="press"]:not([theme~="invert"]) {
	min-width:calc(var(--lumo-button-size) * 2);
}

vaadin-button.pressed[theme~="primary"][theme~="press"][theme~="tertiary-inline"][theme~="icon"]:not([theme~="invert"]) {
	min-width:unset;
}

vaadin-button.pressed[theme~="press"][theme~="tertiary-inline"]:not([theme~="invert"]) {
	color: var(--_lumo-button-color, var(--lumo-primary-text-color));
}

vaadin-button.unpressed[theme~="press"][theme~="tertiary-inline"]:not([theme~="invert"]) {
	color: var(--lumo-contrast-40pct);
}

/* inverted styles */

vaadin-button.pressed[theme~="primary"][theme~="press"][theme~="invert"] {
	min-width:calc(var(--lumo-button-size) * 2);
}

vaadin-button.pressed[theme~="primary"][theme~="press"][theme~="tertiary-inline"][theme~="icon"][theme~="invert"] {
	min-width:unset;
}

vaadin-button.pressed[theme~="press"][theme~="tertiary-inline"][theme~="invert"] {
	color: var(--lumo-contrast-40pct);
}

vaadin-button.unpressed[theme~="press"][theme~="tertiary-inline"][theme~="invert"] {
	color: var(--_lumo-button-color, var(--lumo-primary-text-color));
}