.segmented-progress-bar {
	gap: var(--lumo-space-xs);
}

.segment-progress-bar.first::part(bar) , .segment-progress-bar.first::part(value){
	border-radius: 5px 0px 0px 5px;
}

.segment-progress-bar.last::part(bar) , .segment-progress-bar.last::part(value){
	border-radius: 0px 5px 5px 0px;
}
